.header {
	text-align: center;
    margin-top: 64px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
}

a {
    color: #505050;
    margin: 0 8px;
    text-underline-offset: 6px;
}

.subtitle {
    margin-top: 0;
    font-size: 24px;
    display: flex;
    gap: 24px;
    justify-content: center;
}
nav {
    margin-top: 24px;
    font-size: 20px;
}

@media (max-width: 639px) {
    .header {
        margin: 0;
    }
	nav {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin: 36px 0;

        > a {
            margin: 10px 0;
        }
    }

    .subtitle {
        text-align: left;
        flex-direction: column;
        gap: 8px;
        p {
            margin: 0;
        }
    }

    .divider {
        display: none;
    }

    h1 {
        text-align: left;
        margin:0;
    }
}
