.things-to-do {
    > div {
        display: flex;
        flex-direction: column;
    }

    p.thing-title {
        font-weight: bold;
        margin-bottom: 0px;
    }

    p.thing-description {
        margin-top: 0px;
    }
}