.story section {
    margin-bottom: 100px;
    text-transform: lowercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 64px;
}
.story h2, .story .end {
    text-align: center;
    justify-content: center;
}
.story .web-image {
    aspect-ratio: 1;
    background: #000;
    flex-shrink: 0;
    border-radius: 3px;
}
.story .web-image {
    height: 400px;
    width: 400px;
}
@media (max-width: 800px) {
    .story .web-image {
        height: 300px;
        width: 300px;
   }
}
@media (max-width: 639px) {
    .story section {
        margin: 36px 0;
        flex-direction: column;
   }
    .story section.even {
        flex-direction: column-reverse;
   }
}
